<div class="flex-gauge-container">
    <img
        class="retour"
        src="common/arrow-left.svg"
        (click)="goToHome()"
    />

    <!-- Toggle Button -->
    <div class="toggle-container">
        <button (click)="switchType('human')" [class.active]="selectedType === 'human'">Human</button>
        <button (click)="switchType('ocean')" [class.active]="selectedType === 'ocean'">Ocean</button>
    </div>

    <!-- Smiley and Body -->
    <div class="smiley-container">
        <div class="smiley">
            <span [ngClass]="selectedType === 'human' ?
                                getMood(gauges[0]?.value, gauges[1]?.value, gauges[2]?.value) :
                                getMoodOcean(gauges[0]?.value, gauges[1]?.value, gauges[2]?.value)">
                {{ selectedType === 'human' ?
                getMood(gauges[0]?.value, gauges[1]?.value, gauges[2]?.value) :
                getMoodOcean(gauges[0]?.value, gauges[1]?.value, gauges[2]?.value) }}
            </span>
        </div>

        <div class="body"
             [ngClass]="selectedType === 'human' ?
                getBodyClass(gauges[0]?.value, gauges[1]?.value, gauges[2]?.value) :
                getBodyClassOcean(gauges[0]?.value, gauges[1]?.value, gauges[2]?.value)">
        </div>
    </div>

    <!-- Gauges -->
    <div class="gauges">
        <app-generic-gauge
            *ngFor="let gauge of gauges"
            [label]="gauge.label"
            [value]="gauge.value"
            [min]="gauge.min"
            [max]="gauge.max"
            [unit]="gauge.unit"
            [disabled]="(selectedType === 'human' && humanIsHappy && humanBodyClassIsHappy) || (selectedType === 'ocean' && oceanIsHappy && oceanBodyClassIsHappy)"
            (valueChange)="updateGauge($event, gauge)"
        ></app-generic-gauge>
    </div>

    <!-- Clue Section -->
    <div class="clue-container">
        <p>{{ currentClue }}</p>
    </div>
    @if (!oceanIsHappy && humanIsHappy && !oceanBodyClassIsHappy && humanBodyClassIsHappy && selectedType === 'human') {
        <div class="pop-up-section">
            <p>
                Vous avez terminé la section Humain ! Rendez-vous dans
                Océan pour la suite...
            </p>
        </div>
    }
    @if (oceanIsHappy && !humanIsHappy && oceanBodyClassIsHappy && !humanBodyClassIsHappy && selectedType === 'ocean') {
        <div class="pop-up-section">
            <p>
                Vous avez terminé la section Océan ! Rendez-vous dans
                Human pour la suite...
            </p>
        </div>
    }
    @if (oceanIsHappy && humanIsHappy && oceanBodyClassIsHappy && humanBodyClassIsHappy) {
        <div class="popup-overlay">
            <div class="popup">
                <h2>Vous avez trouvé les bons niveaux de jauges !</h2>
                <p>
                    Félictation ! Vous pouvez passer à la suite...
                </p>
                <div style="display: flex; flex-direction: row; justify-content: space-between">
                    <button (click)="goToHome()">Page d'accueil</button>
                    <button (click)="restartGame()">Recommencer</button>
                </div>
            </div>
        </div>
    }
</div>
