<div class="header">
    <mat-slide-toggle [checked]="isOceanMode" (change)="toggleMode()">{{
        isOceanMode ? "Océan" : "Artères"
    }}</mat-slide-toggle>
    <span>{{ score }} / {{ totalScore }}</span>
</div>
@if (!isOceanMode) {
    <div class="artery-container" cdkDropListGroup>
        <!-- Zone artères -->
        <div
            cdkDropList
            class="artery"
            id="artery"
            #artery="cdkDropList"
            [cdkDropListData]="wastes"
            cdkDropListSortingDisabled="true"
            [cdkDropListConnectedTo]="[dropList]"
            (cdkDropListDropped)="drop($event)"
        >
            @for (waste of wastes; track $index) {
                <div
                    class="waste"
                    cdkDrag
                    [cdkDragData]="waste"
                    [style.left.px]="waste.x"
                    [style.top.px]="waste.y"
                >
                    <img class="caillau" src="caillau.png" alt="caillau" />
                </div>
            }
        </div>

        <!-- Zone de nettoyage -->
        <div
            cdkDropList
            class="trash-bin"
            id="drop-list"
            #dropList="cdkDropList"
            cdkDropListSortingDisabled="true"
            [cdkDropListData]="wastesInBin"
            [cdkDropListConnectedTo]="[artery]"
            (cdkDropListDropped)="onClean($event)"
        >
            ♻️ Glisse ici pour nettoyer
        </div>
    </div>
} @else {
    <div class="artery-container" cdkDropListGroup>
        <!-- Zone océan -->
        <div
            cdkDropList
            class="artery"
            id="oceanWaste"
            #ocean="cdkDropList"
            [cdkDropListData]="wastes"
            cdkDropListSortingDisabled="true"
            [cdkDropListConnectedTo]="[dockList]"
            (cdkDropListDropped)="drop($event)"
        >
            @for (waste of wasteOcean; track $index) {
                <div
                    class="waste"
                    cdkDrag
                    [cdkDragData]="waste"
                    [style.left.px]="waste.x"
                    [style.top.px]="waste.y"
                >
                    <img class="bottle" src="bottle.png" alt="bottle" />
                </div>
            }
        </div>

        <!-- Zone de nettoyage -->
        <div
            cdkDropList
            class="trash-bin"
            id="dock-list"
            #dockList="cdkDropList"
            [cdkDropListData]="wasteOceanInBin"
            [cdkDropListConnectedTo]="[ocean]"
            (cdkDropListDropped)="onDock($event)"
        >
            ♻️ Glisse ici pour nettoyer
        </div>
    </div>
}
