<div
    class="ocean-navigation"
    [ngClass]="
        this.gameService.completedGames == 0
            ? 'dirty'
            : this.gameService.completedGames > 2
              ? 'clean'
              : 'inter'
    "
>
    <div class="flexBox">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <img src="logoNDI.png" alt="logoNDI" class="logoNDI" />
        @if (this.gameService.completedGames < 3) {
            <h1>
                Nettoie les océans et apprends en plus sur le corps humain !
            </h1>
        } @else {
            <h1>
                Bravo ! Tu as nettoyé les océans et appris en plus sur le corps
                humain !
            </h1>
        }
        <nav>
            <ul>
                <li>
                    <button
                        routerLink="/arteres"
                        class="game-link"
                        [disabled]="
                            this.gameService.completedGames >= 1 ||
                            this.gameService.completedGames < 0
                        "
                    >
                        Faire le grand ménage
                    </button>
                </li>
                <li>
                    <button
                        routerLink="/jauges"
                        class="game-link"
                        [disabled]="
                            this.gameService.completedGames >= 2 ||
                            this.gameService.completedGames < 1
                        "
                    >
                        Trouver un bon équilibre
                    </button>
                </li>
                <li>
                    <button
                        routerLink="/corail"
                        class="game-link"
                        [disabled]="
                            this.gameService.completedGames >= 3 ||
                            this.gameService.completedGames < 2
                        "
                    >
                        > Agir à bon escient
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
