<div class="ocean-navigation">
    <h1>NDI 2024</h1>
    <nav>
        <ul>
            <li>
                <a
                    routerLink="/maboul"
                    class="game-link"
                    style="top: 10%; left: 20%"
                    >Maboul
                </a>
            </li>
            <li>
                <a
                    routerLink="/jauges"
                    class="game-link"
                    style="top: 30%; left: 50%"
                    >Jauges
                </a>
            </li>
            <li>
                <a
                    routerLink="/corail"
                    class="game-link"
                    style="top: 60%; left: 40%"
                    >Corail
                </a>
            </li>
            <li>
                <a
                    routerLink="/arteres"
                    class="game-link"
                    style="top: 80%; left: 70%">
                    Artères
                </a>
            </li>
        </ul>
    </nav>

    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
</div>
